<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		{# <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet"> #}
		{# <link rel="stylesheet" href="new.css"> #}

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<!-- Bootstrap core JavaScript-->
		{# <script src="{{asset('admin2/jquery/jquery.min.js')}}"></script>
		<script src="{{ asset('./')}}"></script>
		<script src="{{asset('admin2/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

		<!-- Core plugin JavaScript-->
		<script src="{{asset('admin2/jquery-easing/jquery.easing.min.js')}}"></script>

		<!-- Custom scripts for all pages-->
		<script src="{{asset('admin2/js/sb-admin-2.min.js')}}"></script>

		<!-- Page level plugins -->
		<script src="{{asset('admin2/chart.js/Chart.min.js')}}"></script>

		<!-- Page level custom scripts -->
		<script src="{{asset('admin2/js/demo/chart-area-demo.js')}}"></script>


		<script src="{{asset('admin2/js/demo/chart-pie-demo.js')}}"></script>

		<script src="{{ asset('templates/journales/chart-bar-demo.js') }}"></script>
		<script src="{{ asset('templates/journales/chart-pie-demo.js') }}"></script> #}
		{# <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script> #}

	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
