{% extends 'base.html.twig' %}

{% block title %}Hello MonjourController!
{% endblock %}


{# {% block javascripts %}{% endblock %} #}

{% block body %}
    
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Calendar #09</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-4 text-center">
					<h3 class="h5">Calendar Datepicker</h3>
					<div class="w-100">
            <form action="" method="post" class="datepickers">
              <div class="form-group">
                <!-- <label class="label-control" for="id_start_datetime">Datetime picker</label> -->
                <div class="input-group date" id="id_0">
                  <input type="text" value="" class="form-control" placeholder="MM/DD/YYYY hh:mm:ss" required/>
                </div>
              </div>
            </form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/moment-with-locales.min.js"></script>
  <script src="js/bootstrap-datetimepicker.min.js"></script>
  <script src="js/main.js"></script>

{% endblock %}
