{% extends 'base.html.twig' %}


{% block body %}
	<!-- Topbar -->
	<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <form action="{{ path('app_stats') }}" method="post">
            <div class="container">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <select class="form-select" name="selectdate" aria-label="Default select ">
                          {% for key, selectdatestring in selectdatestrings %}
                            {% if key == 0 %}<option selected value="{{key}}">{{selectdatestring}}</option>
                            {% else %}
                                      <option value="{{key}}">{{selectdatestring}}</option>  
                              {% endif %}
                          {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" name="machine" aria-label="Default select ">
                        {# <option selected>choisir Machine</option> #}
                        {% for key, machineName in machineNames %}
                        {% if key == 0 %}<option selected value="{{machineName}}">{{machineName}}</option>
                        {% else %}
                                  <option value="{{machineName}}">{{machineName}}</option>  
                          {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                    <input id="datedebuttosubmit" type="hidden" name="startdate" value="11/01/2024">
                    <input id="datefintosubmit" type="hidden" name="enddate" value="">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Voire</button>
                    </div>    
                </div>
            </div>
        </form>				
	</nav>
    {#  #}
<div style="overflow:hidden;">
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <div id="datetimepicker12"></div>
            </div>
        </div>
    </div>
</div>
    {#  #}
	<!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Content Row -->
            <div class="row">
                <!-- Area Chart -->
                <div class="col-xl-8 col-lg-7">
                    <div
                        class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Productions Nombre de points / heure </h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                {{ render_chart(chart) }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Productions heures de travail par jour</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                {{ render_chart(camembert) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Begin Page Content -->
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <table id="datatable" class="table table-striped table-datatable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Machine</th>
                            <th>Heure machine</th>
                            <th>Nbr de point</th>
                            <th>Intervalle</th>
                            <th>Crée le</th>
                            {# <th>UpdatedAt</th> #}
                            {# <th>packetTime</th> #}
                            <th>Actif depuis</th>
                            <th>Nbr de ligne arrivé</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Machine</th>
                            <th>Heure machine</th>
                            <th>Nbr de point</th>
                            <th>Intervalle</th>
                            <th>Crée le</th>
                            {# <th>UpdatedAt</th> #}
                            {# <th>packetTime</th> #}
                            <th>Actif depuis</th>
                            <th>Nbr de ligne arrivé</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for data in datas %}
                            <tr>                                            
                                <td>{{data.machineName}}</td>
                                <td>{{data.dateheure | date("d/m/Y H:m:s")}}</td>
                                <td>{{data.pointnumber}}</td>
                                <td>{{data.steptime}}</td>
                                <td>{{data.createdAt|date("d/m/Y H:m:s")}}</td>
                                {# <td>{{data.UpdatedAt|date("d/m/Y")}}</td> #}
                                {# <td>{{data.packetTime}}</td> #}
                                <td>{{data.awakeSince|date("H:m:s")}}</td>
                                <td>{{data.rowinarray}}</td>
                            </tr>                                                
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {# modal calendar #}
<!-- Modal One day -->
<div class="modal fade" id="ModalOneDay" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choisir une date</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="overflow:hidden;">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                    {#  #}
<label for="start">Start date:</label>

<input type="date" id="start" name="trip-start" value="{{ 'now'|date('d-m-Y') }}" min="2024-01-01" max="{{ 'now'|date('d-m-Y') }}" />
                    {#  #}
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        {# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> #}
        <button id="btnOneclic" type="button" class="btn btn-primary"   data-bs-dismiss="modal">Choisir date</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal between -->
<div class="modal fade" id="ModalBetween" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choisir entre deux dates</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
     {#  #}
<label for="start">Date debut:</label>

<input type="date" id="start2" name="trip-start" value="{{ 'now'|date('d-m-Y') }}" min="2024-01-01" max="{{ 'now'|date('d-m-Y') }}" />

<label for="end">Date fin:</label>

<input type="date" id="end2" name="trip-end" value="{{ 'now'|date('d-m-Y') }}" min="2024-01-01" max="{{ 'now'|date('d-m-Y') }}" />
     {#  #}
      </div>
      <div class="modal-footer">
        {# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> #}
        <button id="btnTwoclic" type="button" id="buttonmodalsubmit" class="btn btn-primary" data-bs-dismiss="modal">Choisir date</button>
      </div>
    </div>
  </div>
</div>
    {# end modal calendar
<label for="start">Start date:</label>

<input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31" />

<label for="start">Start date:</label>

<input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31" />

<!-- calendar modal -->
<div id="modal-view-event" class="modal modal-top fade calendar-modal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<h4 class="modal-title"><span class="event-icon"></span><span class="event-title"></span></h4>
					<div class="event-body"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

<div id="modal-view-event-add" class="modal modal-top fade calendar-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form id="add-event">
        <div class="modal-body">
        <h4>Add Event Detail</h4>        
          <div class="form-group">
            <label>Event name</label>
            <input type="text" class="form-control" name="ename">
          </div>
          <div class="form-group">
            <label>Event Date</label>
            <input type='text' class="datetimepicker form-control" name="edate">
          </div>        
          <div class="form-group">
            <label>Event Description</label>
            <textarea class="form-control" name="edesc"></textarea>
          </div>
          <div class="form-group">
            <label>Event Color</label>
            <select class="form-control" name="ecolor">
              <option value="fc-bg-default">fc-bg-default</option>
              <option value="fc-bg-blue">fc-bg-blue</option>
              <option value="fc-bg-lightgreen">fc-bg-lightgreen</option>
              <option value="fc-bg-pinkred">fc-bg-pinkred</option>
              <option value="fc-bg-deepskyblue">fc-bg-deepskyblue</option>
            </select>
          </div>
          <div class="form-group">
            <label>Event Icon</label>
            <select class="form-control" name="eicon">
              <option value="circle">circle</option>
              <option value="cog">cog</option>
              <option value="group">group</option>
              <option value="suitcase">suitcase</option>
              <option value="calendar">calendar</option>
            </select>
          </div>        
      </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Save</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>        
      </div>
      </form>
    </div>
  </div>
</div> #}
{% endblock %}

